{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <button class="btn btn-primary d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-expanded="false">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">HR Dashboard</span>
      <i class="bi bi-chevron-double-left ms-auto"></i>
    </button>
    
    <div class="collapse" id="sidebarCollapse">
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Home
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-black">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Employees
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-black">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            Departments
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-black">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            Reports
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-black">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            Settings
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{% static 'image_2.png' %}" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>peepo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="#">View Profile</a></li>
          <li><a class="dropdown-item" href="#">Notifications</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
